.matricula {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
  }

  .agreement {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
  }


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
  }
